<% provide(:title, 'All users') %>
<h1>All users</h1>
<ul class="users">
  <table class="table">
    <thead>
    <tr>
      <th>Login</th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    <% Array(@users).each do |user| %>
        <% if user.id != current_user.id %>
            <tr>
              <td>
                <%= link_to "#{user.login}", user %>
              </td>
          <% if current_user.admin? %>
                  <td>
                    <%= link_to "Delete user", "users/destroy/#{user.id}", method: :post, class: "btn btn-primary", data: {confirm: "You sure?"} %>
                  </td>
          <% end %>
              <td>
                <% if logged_in? && Friend.find_by(user_id: current_user.id, friend_id: user.id) == nil %>
                    <%= link_to "Add friend", "friends/add/#{user.id}", class: "btn btn-primary" %>
                <% else %>
                    <%= link_to "Remove friend", "friends/remove/#{user.id}", class: "btn btn-primary" %>
                <% end %>
              </td>
            </tr>
        <% end %>
    <% end %>

    <tbody>
    </table>
</ul>
